*{
margin:0;
padding:0;
font-family:arial;
}
#portfolio{
height:800px;
width:1000px;
margin:0 auto;
}
#header{
height:60px;
width:1000px;
background:black;
}
#heading{
height:50px;
width:200px;
float:left;
text-align:center;
line-height:50px;
color:white;
}
#menu{
height:50px;
width:600px;
float:left;	
}
#download{
height:50px;
width:200px;
float:left;
}
.tmenu{
height:50px;
width:100px;
margin-left:15px;
padding:0px;
box-sizing:border-box;
float:left;
text-align:center;
line-height:50px;
text-decoration:none;
}
a{
	color:white;
text-decoration:none;
}
#down{
height:40px;
width:180px;
background:orange;
border:none;
border-radius:10px;
margin:5px 10px;
}
#footer{
height:40px;
width:1000px;
background:black;
margin-top:5px;
color:white;
line-height:40px;
padding-left:20px;
box-sizing:border-box;
}
#about{
height:500px;
width:1000px;
border:1px solid black;
margin:20px 0px;
}
#abt{
height:400px;
width:600px;
float:left;
padding:20px;
font-size:18px;
box-sizing:border-box;
}
#abct{
height:400px;
width:400px;
float:left;
}
#aimg{
margin:10px 30px;
}
#contact{
height:470px;
width:1000px;
border:1px solid black;
background:#eef6f2;
}
table{
margin:auto;
}
#contact tr{
height:60px;
width:700px;
}
.con{
height:50px;
width:700px;
border-top:none;
border-left:none;
border-right:none;
border-bottom:2px solid gray;
padding:10px;
}
textarea{
border:none;
padding:10px;
margin-top:5px;
}
#bttn{
height:40px;
width:300px;
background:black;
color:white;
border-radius:10px;
}
#skill{
height:400px;
weight:1000px;
border:1px solid black;
margin-bottom:20px;
}
#ski{
margin:30px;
}
#project{
height:600px;
width:1000px;
border:1px solid black;
margin-bottom:10px;
}
.pimg{
height:200px;
margin-left:10px;
}